@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  font-family: $fontPlayfair;
  margin: 0 auto;
}

@include desktop {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}


.logo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  span {
    font-size: 1.4em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.logo-beehive {
  width: 45px;
  height: 45px;
}

.navigation {
  text-align: center;
}

nav {
  li {
    display: inline-block;
    font-size: 16px;
    margin: 15px;

  }

  a {
    text-decoration: none;
    color: black;
  }
}


.beehive-image {
  display: flex;
  height: 320px;
  width: 220px;
  margin:0 auto;
  img {
    height: 320px;
    width: 220px;
  }

}

.page-title h1 {
  margin-top: 40px;
  text-align: center;
}

.beehive-description {
  padding: 15px;
  line-height: 2.2em;
  text-align: left;

  h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.4em;
    text-align: center;
  }
}

.specification-beehive {
  font-size: 1.2em;
  margin: 13px;
  text-align: center;

  .specification-icon {
    width: 18px;
    height: auto;
  }
}
.specification-beehive {
    button {
      background: #333;
      color: #ccc;
      width: 200px;
      height: 60px;
      border: 0;
      font-size: 18px;
      border-radius: 4px;
      font-family: $fontPlayfair;
      transition: .6s;
      overflow: hidden;

      &:focus {
        outline: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px) skewX(-15deg);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }

      &:hover {
        background: #065E60;
        cursor: pointer;

        &:before {
          transform: translateX(300px) skewX(-15deg);
          opacity: 0.6;
          transition: .7s;
        }

        &:after {
          transform: translateX(300px) skewX(-15deg);
          opacity: 1;
          transition: .7s;
        }
      }
    }
  }


// TABELA

tbody {
  margin-top: 60px;
  background: linear-gradient(112.36596193200444deg, rgb(6, 94, 96) 5.638020833333334%, rgba(136, 156, 118, 1) 100.95052083333333%);
  font-family: $fontPlayfair;
  font-size: 0.8em;
}

@include desktop {
  table {
    margin: 0 auto;
  }
}


.tg {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

th,
td {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  white-space: nowrap;
  border: 1px solid #dbd0d0;
}

th {
  text-align: left;

}

thead {
  th, td {
    background-color: #086769;
    padding: 5px;
    border: 1px solid #e0d6d6;
    font-size: 0.9em;
  }

}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  td {
    position: relative;

    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}

// roof pricing tekst
.beehive-categories {
  text-align: center;

  h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
}

.roof-pricing-button {
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 15px;
  align-items: center;

}



// PRICING

.pricing-details {
  font-size: 13px;
  font-weight: 300;
  margin: 20px auto;
  width: 70%;

}

h1,
h2 {
  color: #333;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.15;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

a:hover,
a:focus {
  outline: none;
}

small,
.small {
  font-size: 11px;
}

.text-center {
  text-align: center;
}

.plan-action button {
  background: #68c38e;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 6px;
}

.plan-action button {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: $fontPlayfair;
  &:focus {
    outline: 0;
  }

}

.pricing-table .plan {
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 1;
  width:70vw;

}

@include desktop {
  .pricing-details {
    width: 100%;
  }
  .low-roof {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .pricing-table .plan {
    width:220px;
    padding: 20px;
    margin: 20px;
  }
  .high-roof {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}



.pricing-table .plan:hover {
  border-color: #ccc #ccc #bbb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.pricing-table .plan-name {
  padding: 18px;
  background-color: #dde2dd;
  height: 58px;
}


.pricing-table .plan-name h2 + p {
  margin: 8px 12px 0;
}

.pricing-table .plan-price {
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 0;
}

.pricing-table .plan-price h4 {
  font-size: 1.2em;
  padding: 5px;


}

.plan-price p {
  font-size: 1.2em;
  padding: 5px;
  font-weight: bold;
  margin-left: 47px;

}

.pricing-table .plan-details > div {
  background: #fff;
  padding: 15px;
  font-size: 1.1em;
}

.pricing-table .plan-details > div + div {
  border-top: 1px solid #e5e5e5;
}

.pricing-table .plan-action {
  background: #fafafa;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e5e5e5;
  padding: 13px;
}

// elementy

.col-lg-4 {
  background-image: url("../../images/elements-bg.jpg");
  background-size: cover;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@include desktop {
  .col-lg-4 {
   display: flex;
flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
width:218px;
      padding: 20px;
      margin: 20px;

    }
  }

}


.card {
  background-color: white;
  width: 75%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 15px;

}

.fa-ul {
  margin: 15px;
  text-align: center;
  line-height: 1.8em;
}

.card-price {
  font-size: 2rem;

}

.btn-primary {
  background-color: #bbbf58;
  font-size: 1em;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.7rem;
  transition: all 0.2s;
  text-decoration: none;
  color: #2b370e;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto 10px auto;
  font-family: $fontPlayfair;
  border: none;

}
.btn-primary {
  button:active {
    border: none;
  }
}

.card-body h4 {
  font-size: 1.3em;
  padding-top: 10px;
}

// select
.select {
display: flex;
  justify-content: center;
  padding:2.2em;
p {
  margin: 0.8em;
  font-size: 1.2em;
}
}

.filter-products {
  font-family: $fontPlayfair ;
  font-size: 1.1em;
  width: 10em;
option {
  font-family: $fontPlayfair ;
}

}

